h1 {
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: auto auto;
    border: solid black 1px;
    gap: 15px 15px;
    justify-content: center;
}

.tile {
border: solid black 1px;
border-radius: 25px;
width: 150px;
height: 150px;
text-align: center;
}

#one {
    background-color: red;
    animation-name: tile1;
    animation-duration: 0.25s;
}

.blink {
    animation-name: tile1;
    animation-duration: 0.25s;
}
@keyframes tile1 {
    0%   {background-color: red;}
    50%  {background-color: white;}
    100% {background-color: red;}
}


#two {
    background-color: blue;
    animation-name: tile2;
    animation-duration: 0.25s;
}
@keyframes tile2 {
    0%   {background-color: blue;}
    50%  {background-color: white;}
    100% {background-color: blue;}
}

#three {
    background-color: green;
    animation-name: tile3;
    animation-duration: 0.25s;
}
@keyframes tile3 {
    0%   {background-color: green;}
    50%  {background-color: white;}
    100% {background-color: green;}
}

#four {
    background-color: purple;
    animation-name: tile4;
    animation-duration: 0.25s;
}
@keyframes tile4{
    0%   {background-color: purple;}
    50%  {background-color: white;}
    100% {background-color: purple;}
}

#five {
    background-color: orange;
    animation-name: tile5;
    animation-duration: 0.25s;
}
@keyframes tile5 {
    0%   {background-color: orange;}
    50%  {background-color: white;}
    100% {background-color: orange;}

}