h1 {
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: auto auto;
    border: solid black 1px;
    gap: 15px 15px;
    justify-content: center;
}

#button {
    
}

.tile {
border: solid black 1px;
border-radius: 25px;
width: 150px;
height: 150px;
text-align: center;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#purple {
    background-color: purple;
}

#orange {
    background-color: orange;
}
